html {
    font-family:Palatino, serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

body {
    background-color: #A89A8A
}
h1 {
    font-family: Impact, sans-serif;
    color: #1A4C1A;
    font-size: 3rem;
    line-height: 3.5rem
}

h2 {
    color: #102B07
}

ul {

 